
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
a{
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
  background: #09151D;
  color: #EDEDED;
  font-family: Montserrat;
}
.grid{
  width: 1440px;
  margin: auto;
}
.grey-cover{
  padding-bottom: 107px;
  background: #2B353BE5;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 1px 1px 5px #000000;
}

.header-cover{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 104px;
  padding-top: 22px;
  padding-bottom: 14px;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  text-transform: uppercase;
}
header a{
  color: #F0F0F0;
}
.logo-cover{
  width: 212px;
  height: 67px;
  margin-right: 68px;
}
.page-language{
  height: 22px;
}
.page-language div{
  display: inline-block;
  list-style-type: none;
}
.expandable-about{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;

  top: 56px;
  left: -34px;
  width: 165px;
  height: 99.4px;
  padding-top: 16px;
  padding-bottom: 21px;
  background: #2B353B;
  box-shadow: 1px 1px 5px #000000;
  border-radius: 10px;
}
.menu-about{
  font-weight: 600;
  cursor: default;
}
.menu-about:hover{
}
.menu-about:hover .expandable-about{
  display: flex;
}
.expandable-about .menu-option{
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;

  color: #FBFBFB;
}
.expandable-divider{
  width: 90px;
  height: 0px;
  border: 1px solid #FFA72A;
  background-color:#FFA72A;
}
.page-language .menu-option{
  position: relative;
  padding-bottom: 40px;
  width: 41px;
}
.menu-option:hover{
  text-shadow: 0px 0px 10px rgba(255, 167, 42, 0.9);
}
.menu-option-expandable:hover{
  text-shadow: 0px 0px 10px rgba(255, 167, 42, 0.9);
}
.menu{
  position: relative;
  padding-bottom: 62px;
  margin-right: 65px;
}
.active{
  color: #FFA72A;
}
.menu-option a{
  cursor: pointer;
  user-select: none;
}
header .active:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#FFA72A;
  height:6px;
  border-radius:10px;
}
header .active-activities:after {
  content: '';
  position: absolute;
  width: 50px ;
  height: 6px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
header .active-about:after {
  content: '';
  position: absolute;
  width: 50px ;
  height: 6px;
  bottom: 0;
  left: 50px;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
header .projects-petrochemical:after {
  content: '';
  position: absolute;
  width: 32px ;
  height: 6px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
header .projects-mining:after {
  content: '';
  position: absolute;
  width: 32px ;
  height: 6px;
  bottom: 0;
  left: 32px;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
header .projects-gas:after {
  content: '';
  position: absolute;
  width: 32px ;
  height: 6px;
  bottom: 0;
  left: 64px;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
.english-text-option{
  padding-left: 6px;
}
.english-option{
  margin-right: 25px;
}
.header-menu{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  height: 22px;
}
.menu:last-child{
  margin-right: 0;
}
.menu.menu-option{
  font-weight: 600;
}
.banner{
  width: 100%;
  height: 700px;
  border: none;
  background-image: url(/images/banner.png);
  border-radius: 40px;
  box-shadow: 0px 0px 10px 5px rgba(87, 110, 124, 0.7);
}
.banner-first-header{
  padding-top: 160px;
  margin: auto;

  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;

  text-align: center;
  text-transform: uppercase;
}
.banner-second-header{
  margin: 50px auto 0 auto;
  width: 565px;

  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;

  text-align: center;
  text-transform: uppercase;

  color: #FBFBFB;
}
.banner-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1400px;
  margin-top: 203px;
  margin-left: auto;
  margin-right: auto;
}
button{
  width: 450px;
  height: 120px;

  background: rgba(43, 53, 59, 0.9);
  border-radius: 40px;
  border:none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.011em;
  text-transform: uppercase;

  color: #FBFBFB;
}
button:hover{
  cursor: pointer;
}
.countries{
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;

  background: url(/images/countries.png) no-repeat ;
  background-size: cover;
  height: 769px;
  width: 1137px;
}
.countries-header{
  padding-top: 33px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  text-transform: uppercase;

  color: #FBFBFB;
}
.card{
  display: flex;
  flex-direction: row;
  margin-bottom: 65px;

  background: #F0F0F0;
  border-radius: 40px;
}
.card-image{
  width: 591px;
}
.card-image-right{
  margin-left: auto;
  border-radius: 0px 40px 40px 0px;
}
.card-image-left{
  margin-right: auto;
  border-radius: 40px 0px 0px 40px;
}
.card-image-first{
  background-image: url(/images/cards/card-1.png);
}
.card-image-second{
  background-image: url(/images/cards/card-2.png);
}
.card-image-third{
  background-image: url(/images/cards/card-3.png);
}
.card-image-fourth{
  background-image: url(/images/cards/card-4.png);
}
.card-image-fifth{
  background-image: url(/images/cards/card-5.png);
}
.card-image-sixth{
  background-image: url(/images/cards/card-6.png);
}
.card-image-seventh{
  background-image: url(/images/cards/card-7.png);
}
.card-image-eighth{
  background-image: url(/images/cards/card-8.png);
}
.card-image-nineth{
  background-image: url(/images/cards/card-9.png);
}
.card-image-tenth{
  background-image: url(/images/cards/card-10.png);
}
.card-image-eleventh{
  background-image: url(/images/cards/card-11.png);
}
.card-main-first{
  height: 564px;
  margin-top: 64px;
}
.card-main-second{
  height: 639px;
}
.card-main-third{
  height: 464px;
}
.card-text{
  width: 760px;
  margin: 55px 44px 0 45px;
  font-style: normal;
  color: #2B353B;
}
.text-header{
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: bold;
}
.card-text-standart{
  padding-top:25px;
  font-size: 18px;
  line-height: 140%;
}
.card-text-standart span{
  font-weight: 700;
}
.list-header{
  font-weight: 700;
}
ul.card-text-list li{
  list-style-type: none;
}
li{
  font-size: 18px;
  line-height: 140%;

}
ul.card-text-list li:first-child{
  padding-top: 25px;
}
li:before{
  content:"·";
  margin: 0 10px 0 10px;
  font-size: 18px;
  vertical-align: middle;
  line-height: 20px;
}
.contacts{
  display: flex;
  flex-direction: row;

  margin-top: 181px;
  margin-bottom: 107px;
  height: 355px;

}
.contacts-map{
  background: url(/images/map.png);
  width: 308px;
  height: 355px;

  box-shadow: inset 0px 0px 5px 3px rgba(34, 44, 50, 0.5);
  border-radius: 40px;
}
.contacts-text{
  margin-left: 111px;
}
.contacts-text-small{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.contacts-mail{
  margin-top: 22px;
  margin-bottom: 67px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;

  text-transform: lowercase;
}
.text-address{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}
.contacts-block{
  display: flex;
  flex-direction: row;
}
.contacts-block-icons{
  display: flex;
  flex-direction: row;
  height: 32px;
}
.contacts-icon{
  width:32,5px ; 

  height: 32px; 

}
.main-contacts{
  margin-left: 190px;
}
main .fb-icon{
  margin-left: 49px;
}
main .tg-icon{
  margin-left: 51px;
}
.contacts-phone{
  margin-top: 26px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}
.contacts-mail{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-transform: lowercase;
}

footer a{
  color: #EDEDED;
}
footer a:hover{
  text-shadow: 0px 0px 10px rgba(255, 167, 42, 0.9);
}
.footer-main-block{
  display: flex;
  flex-direction: row;
  margin-top: 59px;
}
.footer-logo{
  background: url(/images/logo.svg);
  width: 212px;
  height: 67px;
}
.footer-social-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 141px;
}
.footer-mail{
  margin-top: 25px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
.footer-phone{
  margin-top: 25px;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

}
.footer-social-icons{
  margin-top: 25px;
}
.footer-legal-mark{
  margin-top: 71px;
  margin-bottom: 31px;

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  text-align: center;
}
.footer-column-header{
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;
}
.footer-column-text{
  margin-bottom: 10px;
}
.footer-second-column{
  margin-left: 250px;
}
.footer-third-column{
  margin-left: 130px;
}
.footer-fourth-column{
  margin-left: 130px;
}
.about-page-header{
  margin: 26px 0 44px 20px;
}
.card-about-page-first{
  height: 639px;
}
.card-about-page-second{
  height: 639px;
}
.card-about-page-third{
  height: 1300px;
}
.card-about-page-fourth{
  height: 1179px;
}
.card-about-page-fifth{
  height: 961px;
}
.card-about-page-fifth ul li{
  text-transform: none ;
}
.card-about-page-sixth{
  height: 654px;
}
.card-about-page-seventh{
  height: 781px;
}
.card-about-page-eighth{
  height: 713px;
}
.card-about-page-nineth{
  height: 864px;
}
.card span{
  font-size: 14px;
  line-height: 19,6px;
}
.space{
  margin-left: 21px;
}
.regular-text li{
  text-transform: none;
}
.images-in-text{
  margin-top: 56px;
  width: 100%;
}
.images-in-text-first{
  background: url(/images/);
}
.card-about-page-fifth ul li:first-child {
  padding-top: 0px;
}
.card .additional-list-item{
  font-size: 18px;
}
.card .additional-list-item::before{
  content: "·";
  margin: 0 10px 0 10px;
  font-size: 18px;
  vertical-align: middle;
  line-height: 20px;
}
.card-about-page-sixth .images-in-text{
  margin-top: 25px;
}
.card-about-page-seventh .images-in-text{
  margin-top: 27px;
}
.card-about-page-eighth .card-text-standart{
  padding-top: 0;
}
.card-about-page-eighth .list-header{
  padding-top: 25px;
}
.about-page-meta-header{
  text-align: center;
}
.documents-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 31px;
  align-items: center;
}
.empty-document-space{
  width: 67px;
}
.about-cover{
  padding-bottom: 51px;
}
.projects-banner{
  background: url(/images/banner-2.png);
}
.info-grid{
  margin-top: 65px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 65px;
}
.info-block{
  height: 600px;
  width: 700px;
  padding: 28px 58px 33px 58px;
  background: #F0F0F0;
  border-radius: 40px;
  color: #2B353B;
}
.info-block-flexbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.info-block-header{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.info-image{
  margin-top: auto;
  margin-bottom: 0;
  border-radius: 20px;
}
.info-image-1{
  height: 224px;
  background: url(/images/small-pics/small-pic-1.png);
}
.info-image-2{
  height: 227px;
  background: url(/images/small-pics/small-pic-2.png);
}
.info-image-3{
  height: 236px;
  background: url(/images/small-pics/small-pic-3.png);
}
.info-image-4{
  height: 235px;
  background: url(/images/small-pics/small-pic-4.png);
}
.info-image-5{
  height: 273px;
  background: url(/images/small-pics/small-pic-5.png);
}
.info-image-6{
  height: 184px;
  background: url(/images/small-pics/small-pic-6.png);
}
.info-image-7{
  height: 236px;
  background: url(/images/small-pics/small-pic-7.png);
}
.info-image-8{
  height: 184px;
  background: url(/images/small-pics/small-pic-8.png);
}
.info-image-9{
  height: 272px;
  background: url(/images/small-pics/small-pic-9.png);
}
.info-image-10{
  height: 185px;
  background: url(/images/small-pics/small-pic-10.png);
}
.info-image-11{
  height: 244px;
  background: url(/images/small-pics/small-pic-11.png);
}
.info-image-12{
  height: 244px;
  background: url(/images/small-pics/small-pic-12.png);
}
.info-image-13{
  height: 289px;
  background: url(/images/small-pics/small-pic-13.png);
}
.info-image-14{
  height: 168px;
  background: url(/images/small-pics/small-pic-14.png);
}
.info-image-15{
  height: 239px;
  background: url(/images/small-pics/small-pic-15.png);
}
.partners-template{
  height: 779px; 
  background: #FEFEFE;
  border-radius: 40px;
}
.partners-block{
  display: grid;
  grid-template-columns: 202px 202px 202px 202px 202px ;
  grid-gap: 50px;
 
  padding-left: 115px;
}
.partners-template:first-child{
  margin-bottom: 65px;
}
.partners-block-header{
  padding-top: 55px;
  padding-left: 45px;
  padding-bottom: 60px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #2B353B;
}
.investors-element{
  width: 202px;
  height: 141px;
}
.investors-element-1{
  background: url(/images/investors/image_1.png);
}
.investors-element-2{
  background: url(/images/investors/image_2.png);
}
.investors-element-3{
  background: url(/images/investors/image_3.png);
}
.investors-element-4{
  background: url(/images/investors/image_4.png);
}
.investors-element-5{
  background: url(/images/investors/image_5.png);
}
.investors-element-6{
  background: url(/images/investors/image_6.png);
}
.investors-element-7{
  background: url(/images/investors/image_7.png);
}
.investors-element-8{
  background: url(/images/investors/image_8.png);
}
.investors-element-9{
  background: url(/images/investors/image_9.png);
}
.investors-element-10{
  background: url(/images/investors/image_10.png);
}
.investors-element-11{
  background: url(/images/investors/image_11.png);
}
.investors-element-12{
  background: url(/images/investors/image_12.png);
}
.investors-element-13{
  background: url(/images/investors/image_13.png);
}
.investors-element-14{
  background: url(/images/investors/image_14.png);
}
.epc-element{
  width: 206px;
  height: 163px;
}
.epc-element-1{
  background: url(/images/epc/epc_1.png);
}
.epc-element-2{
  background: url(/images/epc/epc_2.png);
}
.epc-element-3{
  background: url(/images/epc/epc_3.png);
}
.epc-element-4{
  background: url(/images/epc/epc_4.png);
}
.epc-element-5{
  background: url(/images/epc/epc_5.png);
}
.epc-element-6{
  background: url(/images/epc/epc_6.png);
}
.epc-element-7{
  background: url(/images/epc/epc_7.png);
}
.epc-element-8{
  background: url(/images/epc/epc_8.png);
}
.epc-element-9{
  background: url(/images/epc/epc_9.png);
}
.epc-element-10{
  background: url(/images/epc/epc_10.png);
}
.epc-element-11{
  background: url(/images/epc/epc_11.png);
}
.epc-element-12{
  background: url(/images/epc/epc_12.png);
}
.epc-element-13{
  background: url(/images/epc/epc_13.png);
}
.epc-element-14{
  background: url(/images/epc/epc_14.png);
}
.active-sub{
  color: #FFA72A;
}
.menu-about span:hover{
  text-shadow: 0px 0px 10px rgba(255, 167, 42, 0.9);
}

@media screen and (max-width: 1440px) {
  .grid{
    width: 1200px;
  }
  button{
    width: 350px;
  }
  .banner-buttons{
    width: 1100px;
  }
  .countries{
    width: 761px;
    height: 515px;
  }
  .card-text-standart{
    font-size: 16px;
  }
  li{
    font-size: 16px;
  }
  .card-text{
    width: 660px;
  }
}
@media screen and (max-width: 1280px) {
  .grid{
    width: 992px;
  }
  .banner{
    height: 550px;
  }
  button{
    width: 250px;
  }
  .banner-buttons{
    width: 880px;
    margin-top: 40px;
  }
  .header-cover {
    font-size: 12px;
  }
  .menu{
    margin-right: 35px;
  }
  .english-option {
    margin-right: 10px;
  } 
  .card-text-standart{
    font-size: 14px;
  }
  li{
    font-size: 14px;
  }
  .contacts-mail{
    font-size: 18px;
  }
}