
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
a{
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
  background: #09151D;
  color: #EDEDED;
  font-family: Montserrat;
}
.grid{
  width: 1440px;
  margin: auto;
}
.grey-cover{
  padding-bottom: 107px;
  background: #2B353BE5;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 1px 1px 5px #000000;
}

.header-cover{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -3px;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  text-transform: uppercase;
}
header a{
  color: #F0F0F0;
}
.logo-cover{
  width: 212px;
  height: 67px;
  margin-right: 68px;
}
.page-language{
  height: 22px;
}
.page-language div{
  display: inline-block;
  list-style-type: none;
}
.expandable-about{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;

  top: 100px;
  left: -34px;
  width: 165px;
  height: 99.4px;
  padding-top: 16px;
  padding-bottom: 21px;
  background: #2B353B;
  box-shadow: 1px 1px 5px #000000;
  border-radius: 10px;
}
.menu-about{
  font-weight: 600;
  cursor: default;
}
.menu-about:hover{
}
.menu-about:hover .expandable-about{
  display: flex;
}
.expandable-about .menu-option{
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;

  color: #FBFBFB;
}
.expandable-divider{
  width: 90px;
  height: 0px;
  border: 1px solid #FFA72A;
  background-color:#FFA72A;
}
.page-language .menu-option{
  position: relative;
  padding-bottom: 43px;
}
.menu-option:hover{
  text-shadow: 0px 0px 10px rgba(255, 167, 42, 0.9);
}
.menu-option-expandable:hover{
  text-shadow: 0px 0px 10px rgba(255, 167, 42, 0.9);
}
.menu{
  position: relative;
  padding-bottom: 40px;
  padding-top: 45px;
  margin-right: 65px;
}
.active{
  color: #FFA72A;
}
.menu-option a{
  cursor: pointer;
  user-select: none;
}
header .active:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#FFA72A;
  height:6px;
  border-radius:10px;
}
header .active-activities:after {
  content: '';
  position: absolute;
  width: 50px ;
  height: 6px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
header .active-about:after {
  content: '';
  position: absolute;
  width: 50px ;
  height: 6px;
  bottom: 0;
  left: 50px;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
header .projects-petrochemical:after {
  content: '';
  position: absolute;
  width: 32px ;
  height: 6px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
header .projects-mining:after {
  content: '';
  position: absolute;
  width: 32px ;
  height: 6px;
  bottom: 0;
  left: 32px;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
header .projects-gas:after {
  content: '';
  position: absolute;
  width: 32px ;
  height: 6px;
  bottom: 0;
  left: 64px;
  right: 0;
  background: #FFA72A;
  border-radius: 10px;
}
.english-text-option{
  padding-left: 6px;
  padding-right: 6px;
}
.english-option{
  margin-right: 25px;
}
.header-menu{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.menu:last-child{
  margin-right: 0;
}
.menu.menu-option{
  font-weight: 600;
}
.banner{
  padding: 160px 20px 20px;
  width: 100%;
  height: auto;
  border: none;
  background: url(/images/banner.png) no-repeat;
  background-size: contain;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 5px rgba(87, 110, 124, 0.7);
}
.banner-first-header{
  margin: auto;

  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 59px;

  text-align: center;
  text-transform: uppercase;
}
.banner-second-header{
  width: 565px;
  margin: 50px auto 203px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;

  text-align: center;
  text-transform: uppercase;

  color: #FBFBFB;
}
.banner-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.banner-button button{
  width: 450px;
  height: 120px;

  background: rgba(43, 53, 59, 0.9);
  border-radius: 40px;
  border:none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.011em;
  text-transform: uppercase;

  color: #FBFBFB;
}
button:hover{
  cursor: pointer;
}
.countries{
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;

  background: url(/images/countries.svg) no-repeat ;
  background-size: cover;
  height: 769px;
  width: 1137px;
}
.countries-header{
  padding-top: 33px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  text-transform: uppercase;

  color: #FBFBFB;
}
.card{
  display: flex;
  flex-direction: row;
  margin-bottom: 65px;

  background: #F0F0F0;
  border-radius: 40px;
}
.card-image{
  width: 41%;
}
.card-image-right{
  margin-left: auto;
  border-radius: 0px 40px 40px 0px;
}
.card-image-left{
  margin-right: auto;
  border-radius: 40px 0px 0px 40px;
}
.card-image-first{
  background-image: url(/images/cards/card-1.png);
}
.card-image-second{
  background-image: url(/images/cards/card-2.png);
}
.card-image-third{
  background-image: url(/images/cards/card-3.png);
}
.card-image-fourth{
  background-image: url(/images/cards/card-4.png);
}
.card-image-fifth{
  background-image: url(/images/cards/card-5.png);
}
.card-image-sixth{
  background-image: url(/images/cards/card-6.png);
}
.card-image-seventh{
  background: url(/images/cards/card-7.png) no-repeat;
}
.card-image-eighth{
  background-image: url(/images/cards/card-8.png);
}
.card-image-nineth{
  background-image: url(/images/cards/card-9.png);
}
.card-image-tenth{
  background-image: url(/images/cards/card-10.png);
}
.card-image-eleventh{
  background-image: url(/images/cards/card-11.png);
}
.card-main-first{
  margin-top: 64px;
}
.card-text{
  width: 59%;
  margin: 55px 44px 38px 45px;
  font-style: normal;
  color: #2B353B;
}
.text-header{
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: bold;
}
.card-text-standart{
  padding-top:25px;
  font-size: 18px;
  line-height: 140%;
}
.card-text-standart span{
  font-weight: 700;
}
.list-header{
  font-weight: 700;
}
ul.card-text-list li{
  list-style-type: none;
}
li{
  font-size: 18px;
  line-height: 140%;

}
ul.card-text-list li:first-child{
  padding-top: 25px;
}
main li:before{
  content:"·";
  margin: 0 10px 0 10px;
  font-size: 18px;
  vertical-align: middle;
  line-height: 20px;
}
.contacts{
  display: flex;
  flex-direction: row;

  margin-top: 181px;
  margin-bottom: 107px;
}
.contacts-map{
  background: url(/images/map.png) ;
  background-size: cover;
  width: 308px;
  height: 355px;

  box-shadow: inset 0px 0px 5px 3px rgba(34, 44, 50, 0.5);
  border-radius: 40px;
}
.contacts-text{
  margin-left: 111px;
}
.contacts-text-small{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.contacts-mail{
  margin-top: 22px;
  margin-bottom: 67px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;

  text-transform: lowercase;
}
.text-address{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}
.contacts-block{
  display: flex;
  flex-direction: row;
}
.contacts-block-icons{
  display: flex;
  flex-direction: row;
  height: 32px;
}
.contacts-icon{
  width:32.5px ; 

  height: 32px; 

}
.main-contacts{
  margin-left: 190px;
}
main .fb-icon{
  margin-left: 49px;
}
main .tg-icon{
  margin-left: 51px;
}
.contacts-phone{
  margin-top: 26px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}
.contacts-mail{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-transform: lowercase;
}

footer a{
  color: #EDEDED;
}
footer a:hover{
  text-shadow: 0px 0px 10px rgba(255, 167, 42, 0.9);
}
.footer-main-block{
  display: flex;
  flex-direction: row;
  margin-top: 59px;
}
.footer-logo{
  width: 100%;
  height: auto;
}
.footer-social-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 141px;
}
.footer-mail{
  margin-top: 25px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
.footer-phone{
  margin-top: 25px;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

}
.footer-social-icons{
  margin-top: 25px;
}
.footer-legal-mark{
  margin-top: 71px;
  margin-bottom: 31px;

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  text-align: center;
}
.footer-column-header{
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;
}
.footer-column-text{
  margin-bottom: 10px;
}
.footer-second-column{
  margin-left: 250px;
}
.footer-third-column{
  margin-left: 130px;
}
.footer-fourth-column{
  margin-left: 130px;
}
.about-page-header{
  margin: 26px 0 44px 20px;
}
.card-about-page-fifth ul li{
  text-transform: none ;
}
.card span{
  font-size: 14px;
  line-height: 19,6px;
}
.space{
  margin-left: 21px;
}
.regular-text li{
  text-transform: none;
}
.images-in-text{
  margin-top: 56px;
}
.images-in-text__img{
  width: 100%;
  height: auto;
}

.card-about-page-fifth ul li:first-child {
  padding-top: 0px;
}
.card .additional-list-item{
  font-size: 18px;
}
.card .additional-list-item::before{
  content: "·";
  margin: 0 10px 0 10px;
  font-size: 18px;
  vertical-align: middle;
  line-height: 20px;
}
.card-about-page-sixth .images-in-text{
  margin-top: 25px;
}
.card-about-page-seventh .images-in-text{
  margin-top: 27px;
}
.card-about-page-eighth .card-text-standart{
  padding-top: 0;
}
.card-about-page-eighth .list-header{
  padding-top: 25px;
}
.about-page-meta-header{
  text-align: center;
}
.documents-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 31px;
  align-items: center;
}
.empty-document-space{
  width: 67px;
}
.about-cover{
  padding-bottom: 51px;
}
.projects-banner{
  background: url(/images/banner-2.png) no-repeat;
  background-size: contain;
}
.info-grid{
  margin-top: 65px;
  display: grid;
  grid-template-columns: 700px 700px;
  grid-column-gap: 40px;
  grid-row-gap: 65px;
}
.info-block{
  height: auto;
  width: 700px;
  padding: 28px 58px 33px;
  background: #F0F0F0;
  border-radius: 40px;
  color: #2B353B;
}
.info-block-flexbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.info-block-header{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.info-image{
  margin-top: 50px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}
.info-image img{
  border-radius: 20px;
  height: 100%;
  width: 100%;
}


.partners-template{
  background: #FEFEFE;
  border-radius: 40px;
  padding-bottom: 95px;
}
.partners-block{
  display: grid;
  grid-template-columns: 202px 202px 202px 202px 202px ;
  grid-gap: 50px;
 
  padding-left: 115px;
}
.partners-template:first-child{
  margin-bottom: 65px;
}
.partners-block-header{
  padding: 55px 0 60px 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #2B353B;
}
.investors-element__img{
  width: 100%;
  height: auto;
}
.active-sub{
  color: #FFA72A;
}
.menu-about span:hover{
  text-shadow: 0px 0px 10px rgba(255, 167, 42, 0.9);
}
.logo-cover img{
  width: 100%;
  height: auto;
}
.contacts-icon img{
  height: 100%;
  width: 100%;
}
.footer-social-icons{
  width: 80px;
}
#footer-logo{
  height: auto;
  width: 212px;
}
.first-document{
  width: 326x;
  height: 471px;
}
.second-document{
  width: 381px;
  height: 471px;
}
.menu-cover{
  display: none;
}
@media screen and (max-width: 1440px) {
  .grid{
    width: 1200px;
  }
  .banner-button button{
    width: 350px;
  }
  .banner-second-header{
    margin-bottom: 87px;
  }
  .banner-buttons{
    width: 1100px;
  }
  .countries{
    width: 761px;
    height: 515px;
  }
  .card-text-standart{
    font-size: 16px;
    padding-top: 10px;
    grid-template-columns: 560px 560px;
  }
  li{
    font-size: 16px;
  }
  .partners-block{
    grid-template-columns: 182px 182px 182px 182px 182px ;
    grid-gap: 70px;
    column-gap: 30px;
    padding-left: 75px;
  }
  .info-block{
    width: 560px;
    padding: 28px 38px 33px;
  }
  .info-grid{
    margin-top: 65px;
    grid-template-columns: 560px 560px;
    grid-column-gap: 80px;
    grid-row-gap: 65px;
  }
  .footer-column-text a{
    font-size: 14px;
  }
  .footer-column-text{
    margin-bottom: 25px;
  }
  .text-header{
    font-size: 30px;
  }
  .card .additional-list-item{
    font-size: 16px;
  }
}
@media screen and (max-width: 1280px) {
  .grid{
    width: 992px;
  }
  .banner{
    padding-top:78px;
  }
  .banner-button button{
    width: 250px;
    height: 100px;
  }
  .banner-buttons{
    width: 880px;
  }
  .header-cover{
    font-size: 12px;
  }
  .menu{
    margin-right: 35px;
  }
  .english-option {
    margin-right: 10px;
  } 
  .card-text-standart{
    font-size: 14px;
  }
  li{
    font-size: 14px;
  }
  .contacts-mail{
    font-size: 18px;
  }
  .partners-block{
    grid-template-columns: 142px 142px 142px 142px 142px ;
    grid-gap: 70px;
    column-gap: 40px;
    padding-left: 75px;
  }
  .info-block{
    width: 471px;
    padding: 28px 38px 33px;
  }
  .info-grid{
    margin-top: 65px;
    grid-template-columns: 471px 471px;
    grid-column-gap: 50px;
    grid-row-gap: 65px;
  }
  .footer-second-column{
    margin-left: 150px;
  }
  .footer-column-text{
    margin-bottom: 35px;
  }
  .text-header{
    font-size: 24px;
  }
  .card-text{
    margin-top: 30px;
  }
  .banner-button button{
    font-size: 14px;
  }
  .banner-second-header{
    font-size: 28px;
  }
  .contacts-text {
    margin-left: 50px;
  }
  .main-contacts {
    margin-left: 50px;
  }
  .text-address{
    font-size: 16px;
  }
  .contacts-text-small{
    font-size: 14px;
    margin-top: 15px;
  }
  .card .additional-list-item{
    font-size: 14px;
  }
  header .active-activities:after{
    width: 33px;
  }
  header .active-about:after{
    width: 33px;
    left: 33px;
  }
  header .projects-mining:after{
    width: 21.5px;
    left: 21.5px;
  }
  header .projects-petrochemical:after{
    width: 21.5px;
  }
  header .projects-gas:after{
    width: 21.5px;
    left: 43px;
  }
}
@media screen and (max-width: 1024px) {
  .grid{
    width: 768px;
  }
  .info-block{
    width: 369px;
  }
  .info-grid{
    grid-template-columns: 369px 369px;
    grid-row-gap: 35px;
    grid-column-gap: 30px;
  }
  .banner-button button{
    width: 200px;
    height: 80px;
    font-size: 10px;
  }
  .banner-buttons{
    width: 700px;
  }
  .menu {
    margin-right: 25px;
  }
  .logo-cover {
    width: 172px;
    height: 40px;
    margin-right: 68px;
  } 
  .footer-column-text {
    margin-bottom: 25px;
  } 
  .footer-second-column {
    margin-left: 120px;
    margin-top: 34px;
  }
  .footer-third-column {
    margin-left: 20px;
    margin-top: 34px;
  }
  .footer-fourth-column {
    margin-left: 20px;
    margin-top: 34px;
  }
  .footer-column-text a {
    font-size: 10px;
  }
  .footer-column-text {
    margin-bottom: 5px;
    line-height: 12px;
  }
  .footer-column-header{
    font-size: 12px;
    margin-bottom: 5px;
  }
  .footer-mail {
    font-size: 14px;
  }
  .footer-phone{
    font-size: 14px;
  }
  #footer-contacts{
    display: none;
  }
  .contacts-icon{
    width: 16px;
    height: 16px;
  }
  #footer-logo{
    height: auto;
    width: 115px;
  }
  .footer-legal-mark{
    margin-top: 22px;
    font-size: 9px;
  }
  .footer-main-block{
    margin-top: 16px;
  }
  .footer-mail{
    margin-top: 10px;
  }
  .footer-phone{
    margin-top: 10px;
  }
  .footer-social-icons {
    margin-top: 10px;
  }
  .footer-legal-mark{
    margin-bottom: 16px;
  }
  .footer-br{
    display: none;
  }
  .partners-block {
    grid-template-columns: 117px 117px 117px 117px 117px;
    grid-gap: 40px;
    column-gap: 20px;
    padding-left: 50px;
  }
  .partners-template {
    padding-bottom: 55px;
  }
  .partners-block-header{
    padding-top: 50px;
  }
  .contacts-phone{
    font-size: 12px;
    margin-top: 10px;
  }
  main .fb-icon {
    margin-left: 20px;
  }
  main .tg-icon {
    margin-left: 20px;
  }
  .contacts-block-icons {
    margin-top: 15px;
    height:  30px;
  }
  .banner-second-header {
    font-size: 18px;
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 768px) {
  .grid{
    width: 720px;
  }
  header .logo-cover{
    display: none;
  }
  .page-language{
    margin-left: 36px;
  }
  .menu {
    margin-right: 45px;
  }
  .header-menu{
    margin-right: 36px;
  }
  .header-cover{
    padding-top: 0;
    padding-bottom: 0;
  }
  .countries{
    width: 532px;
    height: 360px;
  }
  .text-header {
    font-size: 18px;
  }
  .info-block{
    width: 350px;
  }
  .info-grid{
    grid-template-columns: 350px 350px;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
  }
  .card-text-standart{
    font-size: 10px;
  }
  .info-block-header{
    font-size: 18px;
    line-height: 20px
  }
  .partners-block{
    grid-template-columns: 91px 91px 91px 91px 91px;
    grid-gap: 40px;
    column-gap: 20px;
    padding-left: 85px;
  }
  .partners-block-header{
    padding: 35px 0 60px 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 44px;
  }
  .contacts-text {
    margin-left: 20px;
  }
  .contacts-text-small {
    font-size: 12px;
  }
  .text-header {
    line-height: 14px
  }
  .text-address {
    font-size: 12px;
  }
  .contacts-map{
    width: 215px;
    height: 248px;
  }
  .card{
    margin-bottom: 25px;
  }
  li {
    font-size: 10px;
  }
  .card .additional-list-item {
    font-size: 10px;
  }
  ul.card-text-list li:first-child {
    padding-top: 5px;
  }
  .card span{
    font-size: 12px;
  }
  .first-document{
    width: 130px;
    height: 188px;
  }
  .second-document{
    width: 152px;
    height: 188px;
  }
  .banner-first-header{
    line-height: 38px;
  }
  .banner-second-header{
    margin-top: 15px;
    margin-bottom: 85px;
  }
  .banner-buttons{
    width: 600px;
  }
  .banner-button button{
    width: 169px;
    height: 70px;
    font-size: 10px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 720px) {
  .grid{
    width: 540px;
  }
  .menu {
    margin-right: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .page-language .menu-option {
    padding-bottom: 11px;
  }
  .page-language {
     margin-left: 25px; 
     height: 18px;
  }
  .header-menu {
    margin-right: 25px;
  } 
  .banner-button button{
    width: 129px;
    height: 70px;
    font-size: 10px;
    border-radius: 20px;
    
    line-height: 14px;
  }
  .banner-buttons{
    width: 500px;
  }
  .banner-first-header {
    font-size: 18px;
  }
  .banner-second-header {
    margin-top: 21px;
    margin-bottom: 21px;
    line-height: 34px;
    width: 385px;
  }
  .banner{
    padding-top: 25px;
  }
  .countries-header{
    font-size: 20px;
  }
  .card-text-standart{
    padding-top: 18px;
  }
  .text-header {
    line-height: 18px;
  }
  .info-grid {
    grid-template-columns: 260px 260px;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
  } 
  .info-block {
    width: 260px;
    padding: 18px 28px 23px;
  }
  .partners-block {
    grid-template-columns: 71px 71px 71px 71px 71px;
    grid-gap: 20px;
    column-gap: 30px;
    padding-left: 35px;
  }
  .partners-block-header{
    padding-bottom: 20px;
    font-size: 18px;
  }
  .footer-second-column {
    margin-left: 72px
  }
  .partners-template:first-child {
    margin-bottom: 35px;
  }
  .footer-mail {
    font-size: 10px;
  }
  .contacts-mail {
    font-size: 12px;
  }
  .text-header {
    font-size: 14px;
  }
  .main-contacts {
    margin-left: 0;
  }
  .contacts-text-small{
    width: 150px;
  }
  .main-contacts{
    margin-left: 10px;
  }
  .contacts-block-icons{
    margin-top: 0;
  }
  .grey-cover {
    padding-bottom: 10px
  }
  .contacts{
    margin-bottom: 41px;
    margin-top: 41px;
  }
  .footer-second-column{
    margin-top: 0;
  }
  .footer-third-column{
    margin-top: 0;
  }
  .footer-fourth-column{
    margin-top: 0;
  }
  .contacts-map {
    width: 265px;
  }
  .card-main-first{
    margin-top: 12px;
  }
  .about-page-header{
    margin-bottom: 14px;
  }
  .expandable-about{
    top: 44px;
  }
}
@media screen and (max-width: 550px) {
  .grid{
    padding-top: 44px;
  }
  .menu-cover{
    display: block;
    width: 52px;
    height: 39px;
    margin-right: 0;
    margin-left: auto;

    position: absolute;
    top: 24px;
    right: 0;


    background: #C4C4C4;
    border-radius: 10px;
  }
  .mobile-menu__button{
    background: none;
    border: none;
    padding: 13px 14px;
  }
  .header-cover{
    display: none;
  }
  .menu-sub-item{
    float:right;
    margin-bottom: 5.5px;
    width: 24px;
    height: 2.5px;
    background-color: #FBFBFB;
    border-radius: 25px;
  }
  .expandable-mobile-menu{
    position: absolute;
    right: 0;

    padding-top: 16px;
    padding-left: 27px;
    background-color: #FFA72A;
    align-items: center;

    width: 149px;
    height: 277px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    border-radius: 10px 0px 0px 10px;
  }
  .expandable-mobile-menu img{
    width: 98px;
    height: 31px;
  }
  .expandable-menu-item{
    margin-top: 21px;
  }
  .hidden-menu{
    display: none !important;
  }
  .expandable-menu-language{
    display: flex;
    flex-direction: row;
  }
  .menu-cover ul#mobile-menu li{
  }
  .menu-cover ul#mobile-menu{
    padding-top: 16px;
    display: flex;
    flex-direction: column;
  }
  .ru-language{
    margin-left: 26px;
  }
  .menu-cover .mobile-menu-active{
    font-weight: 800;
  }
}